@model IEnumerable<Cart>

<a asp-controller="Cart" asp-action="Index" class="hover-icon-cart">
  <i class="fas fa-shopping-cart">
    <ul class="submenu">
      @foreach (var item in Model)
      {
        <div class="dropdown-cart-products" style="background: red; display: none;">
          <div class="product">
            <div class="product-cart-details">
              <h4 class="product-title">
                <a href="product.html">@item.Product.Name</a>
              </h4>

              <span class="cart-product-info">
                <span class="cart-product-qty">@item.Quantity</span>
                x @item.Product.Price
              </span>
            </div>
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="@item.Product.ImageUrl" style="max-width: 50px;" alt="product">
              </a>
            </figure>
            <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
          </div>
          <div class="dropdown-cart-total">
            <span>Total</span>

            <span class="cart-total-price">@item.</span>
          </div>
          <div class="dropdown-cart-action">
            <a href="cart.html" class="btn btn-primary">View Cart</a>
            <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
          </div>
        </div>
      }
    </ul>
  </i>
</a>